# Editor Specific Git Ignores
.vscode

# Virtual Env Git Ignores
include
bin
lib/
share/
local/
.Python
tox.ini
venv/

# Test Specific Git Ignores
seclab.log

# Python Git Ignores
*.pyc

# Development Git Ignores
.DS_Store

# Website Ignores
static/css
static/*.css
data/videos.json
