$dark-bg-color: #232121;
$light-bg-color: white;
$light-text-color: white;
$dark-text-color: black;
$link-color: #555; 

$nav-bg: rgb(116, 47, 65);
$nav-border: rgb(90, 37, 51);
$nav-active-color: rgb(141, 61, 82);
$nav-text-color: $light-text-color;
