@font-face {
	font-family: 'HK Grotesk';
	font-weight: 400;
	src: url('/fonts/HKGrotesk-Medium.otf');
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: 500;
    src: url('/fonts/HKGrotesk-Bold.otf');
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: 300;
    src: url('/fonts/HKGrotesk-Light.otf');
}
