@font-face {
	font-family: 'HK Grotesk';
	font-weight: 400;
	src: url('/HKGrotesk-Medium.otf');
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: 500;
    src: url('/HKGrotesk-Bold.otf');
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: 300;
    src: url('/HKGrotesk-Light.otf');
}

@font-face {
    font-family: 'Farray';
    font-weight: 400;
    src: url('/Farray.otf');
}

@font-face {
    font-family: 'Modeka';
    font-weight: 400;
    src: url('/Modeka.otf');
}
