.form-wrap {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    height: -moz-min-content;
    height: -webkit-min-content;
    height: min-content;
    max-height: calc(100vh - 4 * 7vh); // Make sure there's padding around the menus, because sometimes min-content is too generous with the space
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    min-width: 30em;
    max-width: 85vw;
    box-shadow: 0px 0px 10px #afc0d9;
    background-color: #fff;
    padding: 1em;
    border-radius: .25rem;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    #wh-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 15vh;
            width: 100%;
            background: $dark-bg-color;
            border-radius: 3px;
        }
    }

    #info {
        height: auto;
    }

    form {
        display: grid;
        height: auto;
    }
    
    h2 {
        text-align: center;
    }
    
    label {
        display: block;
        padding: 0 0 20px 0;
        position: relative;
    }
    
    input[type=email], input[type=text] {
        padding: 4px;
        position: absolute;
        right: 0px;
        width: 50%;
    }
    
    input[type=submit] {
        align-self: baseline;
        background-color: $dark-bg-color;
        border: 0;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        padding: 8px 15px;
        width: 90%;
        justify-self: center;

        // Rollover Animation
        @include hover;
    }

    #mailchimp {
        text-decoration: none;
        color: $dark-text-color;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: center;
        cursor: pointer;

        object {
            padding-left: 5px;
            width: 75px;
        }

        // Rollover Animation
        @include hover;
    }
}