@import 'style';

#landing-bg {
    background: url('/lab1.jpg')  no-repeat center center fixed;
	background-size: cover;
    height: $full-height;
    @media screen and (orientation: portrait) {
		display: none;
	}
}

.resources-container {
	position: absolute;
	top: 7vh;
	z-index: 0;
	width: 65vw;
	height: $full-height;
	@media screen and (orientation: portrait) {
		width: 100vw;
	}
	
	display: flex;
	flex-direction: column;
	background: $dark-bg-color;

	overflow-y: scroll;
	overflow-x: hidden;
}

/*
@media screen
	and (max-width: 828px)
	and (min-width: 320px) {

    .resources-container {
        height: calc((var(--vh, 1vh) * 100) - 2.3 * (var(--vh, 1vh) * 7)); // ensure same value as $menu-height (NEEDED FOR IOS SAFARI)
    }
}
*/

.wh-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 14vh;
	
	svg {
		height: 14vh;
		transition: all 0.75s;
	}

	// Rollover Animation
    &:hover {
		svg {
        	transform: scale(1.1);
			overflow: hidden;
		}
    }
}

.resources-body {
	height: 100%;
	width: 100%;
	transition: all 0.75s;

	.resources-group {
		display: grid;
		padding-left: 1.5vw;
		padding-right: 1.5vw;

		h2 {
			text-align: left;
			padding-left: 0.5vw;
			color: white;
			text-shadow: 6px 3px 7px rgba(0,0,0,0.5);
			font-size: max(1.5rem, 2.5vh);
			& > strong {
				font-weight: 700px;
				font-size: max(1.5rem, 2.5vh);
			}
		}

		li {
			padding-top: 0.5vh;
			padding-bottom: 0.5vh;

			color: white;
			font-weight: 100px;
			font-size: max(1rem, 1.75vh);
			text-shadow: 6px 3px 7px rgba(0,0,0,0.5);
		
			a {
				font-weight: bold;
				color: white;

				&:visited {
					color: white;
				}
			}
		}
	}
}