// CONSTANTS
$menu-height: 7vh;

// IMPORTS
@import 'colors';
@import 'fonts';
@import 'animations';
@import 'logo';
@import 'navbar';
@import 'footer';

// OTHER STYLES
html, body {
    padding: 0px;
    margin: 0px;
    color: $dark-bg-color;
}

body {
    font-family: 'HK Grotesk','Helvetica', 'Arial', sans-serif;

    display: grid;
    grid-template-rows: $menu-height 1fr $menu-height;
}

main {
    min-height: calc(100vh - 2 * 7vh); // ensure same value as $menu-height
}

@media screen
	and (max-width: 828px)
	and (min-width: 320px) {

    main {
        min-height: calc((var(--vh, 1vh) * 100) - 2.3 * (var(--vh, 1vh) * 7)); // ensure same value as $menu-height (NEEDED FOR IOS SAFARI)
        height: calc((var(--vh, 1vh) * 100) - 2.3 * (var(--vh, 1vh) * 7)); // ensure same value as $menu-height (NEEDED FOR IOS SAFARI)
    }
}

.content {
    height: 100%;
    width: 100%;
    overflow: hidden;

    // flexbox positioning
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.flex-top {
    align-self: flex-start;
    justify-content: left;
    text-align: left;
}

#welcome-bar {
    position: absolute;
    width: 100vw;
    
    background: white;
    color: black;
    text-align: center;
    $welcome-size: 5em;
    
    filter: drop-shadow(10px 10px 15px gray);

    transition: all 0.75s;

    &:hover {
        transform: scaleY(1.1);
        overflow: hidden;
    }
}

#landing-bg {
    background: url("/landing.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    z-index: -1;
    transform: scale(1.1);
    height: calc(100vh - 2 * 7vh);
}

#main {
    font: 6.25em "Farray", sans-serif;
    margin: 0;
}

#mission {
    font: 1.8em "HK Grotesk Light", sans-serif;
}