<!--FOOTER-->
    <footer>
        <div id="footer-left">
            <div>
                <p>Visit our lab!</p>
                <a href="/visit">Bonderson (197) - 204</a>
            </div>
        </div>
        <div id="footer-center">
            <div>
                <a id="discord" href="https://discord.gg/Vk4fuN9" rel="nofollow noopener" target="_blank">
                    <p>Discord</p>
                    <img src="/Discord-Logo-White.png" border="0" alt="Join us on Discord!"/>
                </a>
                <a id="status" href="/timecard">
                    <img src="{% if config.DEBUG %}https://thewhitehat.club{% endif %}/status.svg">
                </a>
                <a id="slack" href="https://join.slack.com/t/cpsecurity/signup" rel="nofollow noopener" target="_blank">
                    <img src="/slack-logo.png" height="36px" alt="Join our Slack workspace!">
                    <p>Slack</p>
                </a>
            </div>
        </div>
        <div id="footer-right">
            <div>
                <p>Questions?<br>
                <a href="mailto:thewhitehat@calpoly.edu">Email Us</a></p>
            </div>
        </div>
    </footer>
    
    <!-- SERVICEWORKER JS -->
    <script src="/promise.js"></script>
    <script src="/fetch.js"></script>
    <script src="/app.js"></script>

    <script>
        //iOS Mobile Scaling

        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    </script>
