<!-- HEADER -->
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}The White Hat - Cal Poly SLO{% endblock %}
    </title>
  
    <meta name="viewport" content="width=device-width,minimum-scale=0.5,initial-scale=0.5" />
    <!-- <meta name="description" content="" /> -->
  
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16" />
    <link rel="canonical" href="{{ config.url }}" />
    <link rel="author" href="/humans.txt" />
  
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
</head>
