<!-- NAVBAR -->
<header class="navbar">
	<div class="nav">
		<div class="brand">
			<a href="/">
				{% include 'includes/logo.svg' %}
			</a>
		</div>
	</div>
	<div class="nav" {%- if request.path == "/about" %} id="active"{% endif %}><a href="/about">About</a></div>
	<div class="nav" {%- if request.path == "/calendar" %} id="active"{% endif %}><a href="/calendar">Events</a></div>
	<div class="nav" {%- if request.path == "/videos" %} id="active"{% endif %}><a href="/videos">Videos</a></div>
	<div class="nav" {%- if request.path == "/officers" %} id="active"{% endif %}><a href="/officers">Officers</a></div>
	<div class="nav" {%- if request.path == "/resources" %} id="active"{% endif %}><a href="/resources">Resources</a></div>
	<div class="nav" {%- if request.path == "/corporate" %} id="active"{% endif %}><a href="/corporate">Corporate</a></div>
	<div class="nav" {%- if request.path == "/signup" %} id="active"{% endif %}><a href="/signup">Mailing</a></div>
	<div class="nav icon"><a href="javascript:void(0);" onclick="navMenu()">
		<i class="fa fa-bars"></i>
	</a></div>
</header>
