{% extends "base.html" %}
{% block body %}
    <div class="content">
        <div class="content" id="landing-bg"></div>
        <div class="officer-container">
                <div class="officer-logo">
                    {% include 'includes/logo.svg' %}
                </div>
                <div class="officers">
                    <div class="officers-left">
                        {% for i in range(0, get_officers()|length // 2) %}
                        <div class="officer-item">
                            <img height: inherit src="/officers-{{ get_officers()[i]['image'] }}">
                            <div>
                                <h3><strong>{{ get_officers()[i]['position'] }}</strong></h3>
                                <h4>{{ get_officers()[i]['name'] }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="officers-right">
                        {% for i in range(get_officers()|length // 2, get_officers()|length) %}
                        <div class="officer-item">
                            <img height: inherit src="/officers-{{ get_officers()[i]['image'] }}">
                            <div>
                                <h3><strong>{{ get_officers()[i]['position'] }}</strong></h3>
                                <h4>{{ get_officers()[i]['name'] }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
