{% extends 'base.html' %}
{% block body %}
    <div class="form-wrap">
        <form action="https://thewhitehat.us9.list-manage.com/subscribe/post?u=3d8e0978450962204eedce576&amp;id=a0fbf62a0c" method="POST" target="_blank" class="form">
            <h2>Sign up for our mailing list</h2>
            <label>Email Address *
                <input type="email" name="EMAIL" required>
            </label>
            <label>First Name
                <input type="text" name="FNAME">
            </label>
            <label>Last Name
                <input type="text" name="LNAME">
            </label>
            <input type="submit" value="Subscribe" name="subscribe">
        </form>
    </div>
      
{% endblock %}
