{% extends 'base.html' %}
{% block body %}
    <div class="content">
        <div class="content" id="landing-bg"></div>
        <div class="timecard-container">
            <div class="timecard-content">
                <div class="timecard-links">
                    <a href="/timecard.svg" target="timecard">All Time</a>
                    {% for i in range(0, get_timecarddates()|length) %}
                    | <a href="/timecard.svg?start={{ get_timecarddates()[i]['start'] }}&end={{ get_timecarddates()[i]['end'] }}" target="timecard">{{ get_timecarddates()[i]['quarter'] }}</a>
                    {% endfor %}
                </div>
                <div class="timecard">
                    <object id="timecardframe" name="timecard" type="image/svg+xml" data="/timecard.svg"></object>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
