{% extends 'base.html' %}
{% block body %}
<div class="timecard-links">
	<a href="/timecard.svg" target="timecard">All Time</a>
  | <a href="/timecard.svg?start=2017-09-14&end=2017-12-31" target="timecard">Fall 2017</a>
  | <a href="/timecard.svg?start=2018-01-01&end=2018-03-23" target="timecard">Winter 2018</a>
  | <a href="/timecard.svg?start=2018-04-02&end=2018-06-15" target="timecard">Spring 2018</a>
  | <a href="/timecard.svg?start=2018-09-13&end=2018-12-16" target="timecard">Fall 2018</a>
</div>
<iframe name="timecard" class="timecard" src="/timecard.svg"></iframe>
{% endblock %}
