{% extends "base.html" %}
{% block body %}
    {{ video_writer() }}
    <div class="video-container">
        <div class="grid-container">
            {% for i in range(0, video_process()|length) %}
            <div class="video">
                <a href="{{ video_process()[i]['url'] }}" target="__blank">
                    <div class="video-overlay"></div>
                    <img class="video-image" src="{{ video_process()[i]['img'] }}" alt="{{ video_process()[i]['title'] }}">
                    <div class="video-details fadeIn-top">
                        <h3>{{ video_process()[i]['title'] }}</h3>
                        <p>by {{ video_process()[i]['speaker'] }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
