{% extends "base.html" %}
{% block body %}
    <div class="video-container">
        <div class="grid-container">
            {% for i in range(0, page_data['count']) %}
            <div class="video">
                <a href="{{ page_data['videos'][i]['url'] }}" target="__blank">
                    <div class="video-overlay"></div>
                    <img class="video-image" src="{{ page_data['videos'][i]['img'] }}" alt="{{ page_data['videos'][i]['title'] }}">
                    <div class="video-details fadeIn-top">
                        <h3>{{ page_data['videos'][i]['title'] }}</h3>
                        <p>by {{ page_data['videos'][i]['speaker'] }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
