{% extends "base.html" %}
{% block body %}
    <div class="video-container">
        <div class="grid-container">
            {% for i in range(0, get_videos()|length) %}
            <div class="video">
                <a href="{{ get_videos()[i]['url'] }}" target="__blank">
                    <div class="video-overlay"></div>
                    <img class="video-image" src="{{ get_videos()[i]['img'] }}" alt="{{ get_videos()[i]['title'] }}">
                    <div class="video-details fadeIn-top">
                        <h3>{{ get_videos()[i]['title'] }}</h3>
                        <p>by {{ get_videos()[i]['speaker'] }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
