{% extends "base.html" %}
{% block body %}
    <div class="content">
        <div class="content" id="calpoly-bg"></div>
        <div class="dark-bar">
            <h2 id="visit-title">{{ page_data["building"]["name"] }} - Room {{ page_data["room"] }}</h2>
        </div>
        <div id="welcome-bar" class="lab-content">
            <div class="lab-l">
                <div id="lab-img-ul"></div>
                <div id="lab-img-bl"></div>
            </div>
            <div class="lab-map">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=Bonderson&key=AIzaSyCc0NCWeqcuhJ5-1diw9qCDDRl3x4XXjKM" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="lab-r">
                <div id="lab-img-ur"></div>
                <div id="lab-img-br"></div>
            </div>
        </div>
    </div>
{% endblock %}